@using WebsiteCongChung.Models
@model PhieuYeuCauViewModel

@{
    using (Html.BeginForm("InPhieuYeuCau", "HopDong"))
    {

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-2 pull-right">
                        <input type="submit" value="In phiếu yêu cầu" class="btn btn-default btn-group-justified" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label">Ông/Bà</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.TenKH, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TenKH, "", new { @class = "text-danger" })
                    </div>

                    <label class="col-md-1 control-label" style="padding-right:inherit">Năm Sinh</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.NgaySinh, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NgaySinh, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label">CMND/Hộ Chiếu</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.CMND, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CMND, "", new { @class = "text-danger" })
                    </div>

                    <label class="col-md-1 control-label" style="padding-right:inherit">Ngày Cấp</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.HoSoDinhKem, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.HoSoDinhKem, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label">Hộ Khẩu Thường Trú</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.CMND, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CMND, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nội Dung Yêu Cầu</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.NoiDungYeuCau, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NoiDungYeuCau, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label">Giấy Tờ Kèm Theo</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.HoSoDinhKem, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.HoSoDinhKem, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    }
}
